{% extends 'base.html.twig' %}

{% block title %}Rejestracja - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container" >
        <div id="main" class="text-white mt-3 w-75 float-left mb-4 " >
            {{ include('components/register_com.html.twig') }}
        </div>
        <div class="color mt-3 w-25 float-left">
            {{ include('components/info_datetime_com.html.twig') }}
            {{ include('components/button_add_post_ad_com.html.twig') }}
            {{ include('components/info_data_com.html.twig') }}
            {{ include('components/social_media_com.html.twig') }}
        </div>

    </div>
    <div style="clear: both"></div>



{% endblock %}
