{% extends 'base.html.twig' %}

{% block title %}Forum - {{ parent() }}{% endblock %}

{% block body %}
    <div class="text-white mt-3 w-75 float-left mb-3 ">
        <div class="card-body mr-2 bgcolor3 brad p-2 pl-3">
            <i class="icon-home"></i> Jesteś na / <a class="text-white" href="{{ path('index') }}">Strona główna</a> / Forum
        </div>
        {% for message in app.flashes('success_post') %}
            <div class="mr-2 mt-1 bg-success brad text-center p-1">
                {{ message }}
            </div>
        {% endfor %}
        <div class="mr-2 bg-dark mt-1 brad ">
            <div class="p-2 pl-3 border-bottom border-primary">
                <h4 class="float-left w-40 text-color-3">Forum motoryzacyjne</h4>
                <div class="float-left w-60 text-right">
                    <span class="text-color-4">Kategoria</span>
                    <select id="categoryPostSelect" class="w-50 ml-2 categorySelect3" >
                        <option class="categoryOption" value="1" selected >Wszystkie posty</option>
                        {% for item in categories %}
                            <option class="categoryOption" value="{{ item.id }}"
                                {% if slug is defined %}
                                    {% if slug == item.slug %} selected {% endif %}
                                {% endif %}
                                >{{ item.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div style="clear: both"></div>
            </div>
            <div class="p-3 pb-1">
                <form id="postsSearchForm">
                    <div class="pb-4 mb-3 border-bottom border-color-1 ">
                        <input id="itemsSearchPosts" class="float-left form-control" type="search" placeholder="Szukaj na forum..." aria-label="Search">
                        <div class="float-left w-11 search">
                            <button id="search_posts" class="form-control" type="submit"><i class="icon-search"></i></button>
                        </div>
                        <div style="clear: both"></div>
                    </div>
                </form>
                {% if posts is defined %}
                    {{ include('post/post_list/posts.html.twig', {posts:posts}) }}
                    <div class="text-center w-100 p-1 pagination">
                        {{ knp_pagination_render(posts) }}
                    </div>
                {% endif %}
                {% if posts.count == 0 %}
                   <div class="mt-2">
                       <div class="mr-2 mt-1 brad text-center p-1">
                           Nie znaleziono postów z tej kategorii
                       </div>
                   </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}