{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <div class="container" >
        <div id="main" class="text-white mt-3 w-75 float-left mb-4 " >
            <div class="card-body mr-2 bgcolor3 brad p-2 pl-3">
                <i class="icon-home"></i> Jesteś na / <a href="{{ path('index') }}" class="text-white font-weight-normal">Forum </a>
                / Dodawanie posta
            </div>
            <div class="mr-2 bg-dark mt-1 brad ">
                <div class="p-2 pl-3 border-bottom border-primary">
                    <h4><i class="icon-edit mr-1"></i>"Kto pyta, nie błądzi"</h4>
                </div>
                <div class="p-3 mt-2 pb-1">
                    {% for message in app.flashes('error1') %}
                        <div class="brad border-danger text-danger border text-center" >
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% if app.user %}{{ include('components/add_post_com.html.twig') }}{% endif %}
                </div>
            </div>
        </div>
        <div class="color mt-3 w-25 float-left">
            {{ include('components/info_datetime_com.html.twig') }}
            {{ include('components/button_add_post_ad_com.html.twig') }}
            {{ include('components/info_data_com.html.twig') }}
            {{ include('components/social_media_com.html.twig') }}
        </div>
    </div>
    <div style="clear: both"></div>
{% endblock %}