<div id="set-parts-cars-form">
    <div class="w-25 float-left p-1">
        <label class="text-color-4">Pojazd</label>
        <div class="divCategorySelect">
            <select id="category-parts-cars-block" {% if filters.childCat is defined %} name="category" {% else %} name="" {% endif %}
                    class="w-100 categorySelect">
                <option class="categoryOption" value="0" selected>Wszystkie</option>
                {% for item in cat.childrenCategories %}
                    <option class="categoryOption" value="{{ item.slug }}"
                            {% if childSlug is defined %}
                                {% if childSlug == item.slug %} selected {% endif %}
                            {% endif %}
                    >{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="w-25 mb-2 float-left p-1" style="display: block">
        <label class="text-color-4">Rodzaj</label>
        <div class="type-cars-block">
            <select id="type-parts-cars-block" {% if filters.type is defined %} name="type" {% else %} name="" {% endif %}
                    class="categorySelect">
                <option value="0" selected>Wszystkie</option>
                {% for item in typeParts %}
                    <option {% if filters.typeParts == item.id %} selected {% endif %}
                            value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="w-25 mb-2 float-left p-1">
        <label class="text-color-4">Cena (zł)</label>
        <div class="price-parts-cars-block ">
            <div id="parts_cars_price_from" class="float-left w-48">
                <input id="parts_cars_price_from1"
                       placeholder="od" {% if filters.priceF is defined %} name="price_from" {% if filters.priceF > 0 %} value="{{ filters.priceF }}" {% endif %} {% else %} name="" {% endif %}
                       type="text" class="textType">
            </div>
            <div id="parts_cars_price_to" class="float-left w-48 ml-1">
                <input id="parts_cars_price_to1"
                       placeholder="do" {% if filters.priceT is defined %} name="price_to" {% if filters.priceT != 99999999 %}  value="{{ filters.priceT }}" {% endif %} {% else %} name="" {% endif %}
                       type="text" class="textType">
            </div>
            <div style="clear: both"></div>
        </div>
    </div>
    <div style="clear: both; display: block"></div>
    <div class="w-25 mb-2 float-left p-1" style="display: block">
        <label class="text-color-4">Stan</label>
        <div class="state-parts-cars-block ">
            <select id="state-parts-cars-block" {% if filters.state is defined %} name="state" {% else %} name="" {% endif %}
                    class="categorySelect">
                <option value="0" selected>Wszystkie</option>
                {% for item in datas.state %}
                    <option {% if filters.state == item.id %} selected {% endif %}
                            value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>