{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Strona główna{% endblock %}

{% block body %}
    <div class="container " >
        <div id="main" class="text-white mt-3 w-75 float-left mb-4 " >
            <div class="card-body mr-2 bgcolor3 brad p-2 pl-3">
                <i class="icon-home"></i> Jesteś na / Forum
            </div>
            {% for message in app.flashes('success') %}
                <div class="mr-2 bg-success brad text-center p-1">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="mr-2 bg-dark mt-1 brad ">
                <div class="p-2 pl-3 border-bottom border-primary">
                    <h4 class="float-left w-50">Forum motoryzacyjne</h4>
                    <div class="float-left w-50 text-right">

                        <select id="select_post" class="text-white">
                            <optgroup label="Data">
                                <option type="submit" id="latest_new">Najnowsze</option>
                                <option id="latest_alt">Najstarsze</option>
                            </optgroup>
                            <optgroup label="Polubione">
                                <option id="like_up_more">Najwięcej</option>
                                <option id="like_up_little">Najmniej</option>
                            </optgroup>
                        </select>

                    </div>
                    <div style="clear: both"></div>
                </div>
                <div class="p-3 mt-2 pb-1">
                    {{ include('index/post-index/post_index.html.twig', {posts:posts}) }}
                </div>

            </div>
        </div>
        <div class="color mb-4 mt-3 w-25 float-left">
            {{ include('components/info_datetime_com.html.twig') }}
            {{ include('components/button_add_post_ad_com.html.twig') }}
            {{ include('components/info_data_com.html.twig') }}
            {{ include('components/social_media_com.html.twig') }}
        </div>
    </div>
    <div style="clear: both"></div>

{% endblock %}