{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Ogłoszenia{% endblock %}

{% block body %}
    <div class="text-white mt-3 w-75 float-left mb-4 " >
        <div class="card-body mr-2 bgcolor3 brad p-2 pl-3">
            <i class="icon-home"></i> Jesteś na / <a class="text-white" href="{{ path('index') }}">Strona główna</a> / Ogłoszenia
        </div>
        <div class="mr-2 bg-dark mt-1 brad ">
            <div class="p-2 pl-3 border-bottom border-primary">
                <h4 class=" text-color-3">Ogłoszenia motoryzacyjne</h4>
            </div>
            <div class="p-3">
                <div class="w-100">
                    <h4 class="text-color-4 text-center mt-1 mb-3">Kategoria</h4>
                </div>
                <div id="categoryAnnouncementsSelect" class="pl-2">
                    {% for item in cat %}
                    <div class="float-left w-33 mt-3" >
                        <a value="{{ item.id }}" class="ml-4 text-white" href="{{ path('announcement_sorted', {'categorySlug': item.slug }) }}" >
                            <span class="font-18 pt-1" >> </span>{{ item.name }}
                        </a>
                    </div>
                    {% endfor %}
                    <div style="clear: both"></div>
                </div>
                <div class="">

                </div>
            </div>
        </div>
    </div>
{% endblock %}