{% if posts is defined %}
    {% for item in posts %}
    <div class= "border-bottom border-secondary p-1 pb-4 mb-4 ">
            <div class="float-left w-20">
                <div class="float-left bgcolor4 p-1 font-11 pl-2 pr-2 pb-2">
                    <h5 class="text-center">{{ item.answers.count }}</h5> Odpowiedzi
                </div>
                <div class="float-left pt-2 h-60 bgcolor3 ml-2 pl-3 pr-3 ">
                    <h6 class="mb-2 text-color-1"><i class=" icon-thumbs-up-alt"></i></h6>
                    <h6 class="font-15 text-center" >{{ item.likeUp }}</h6>
                </div>
                <div style="clear: both"></div>
            </div>
            <div class="float-left w-78 ">
                <h4 class="pl-2" > <a href="{{ path('view_post',{'slug':item.slug }) }}" class="text-white ">{{ item.title }}</a></h4>
                <div class="pl-2">
                    <h6  class="text-color-4 font-weight-light" ><span class="text-primary">Pytanie</span> zadane przez
                        <a href="#" class="font-weight-normal text-primary">{{ item.user.username }}</a>
                        dnia {{ item.uploadedAt|date('d.m.Y')}} </h6>
                </div>
            </div>
            <div style="clear: both"></div>
    </div>
    {% endfor %}
{% else %}
    <div class="">
        <h5>Nie udało się nic znaleźć</h5>
    </div>
{% endif %}
