<div id="set-vans-trucks-form">
    <div class="w-25 float-left p-1">
        <label class="text-color-4">Podkategoria</label>
        <div class="divCategorySelect">
            <select id="category-vans-trucks-block" {% if filters.childCat is defined %} name="category" {% else %} name="" {% endif %}
                    class="w-100 categorySelect">
                <option class="categoryOption" value="0" selected>Wszystkie</option>
                {% for item in cat.childrenCategories %}
                    <option class="categoryOption" value="{{ item.slug }}"
                            {% if childSlug is defined %}
                                {% if childSlug == item.slug %} selected {% endif %}
                            {% endif %}
                    >{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="w-25 float-left p-1" style="display: none">
        <label class="text-color-4">Marka</label>
        <div id="lolo" class="mark_vans_trucks_block">
            <select id="mark-vans-trucks-block" {% if filters.markVT is defined %} name="mark" {% else %} name="" {% endif %}
                    class="w-100 categorySelect">
                <option class="categoryOption" value="0" selected>Wszystkie</option>
                {% if markVansTrucks is defined %}
                    {% for item in markVansTrucks %}
                        <option {% if filters.markVT == item.id %} selected {% endif %}
                                value="{{ item.id }}">{{ item.name }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
    </div>
    <div class="w-25 mb-2 float-left p-1">
        <label class="text-color-4">Cena (zł)</label>
        <div class="price-vans-trucks-block">
            <div id="vans_price_from" class="float-left w-48">
                <input id="vans_price_from1"
                       placeholder="od" {% if filters.priceF is defined %} name="price_from" {% if filters.priceF > 0 %} value="{{ filters.priceF }}" {% endif %} {% else %} name="" {% endif %}
                       type="text" class="textType">
            </div>
            <div id="vans_price_to" class="float-left w-48 ml-1">
                <input id="vans_price_to1"
                       placeholder="do" {% if filters.priceT is defined %} name="price_to" {% if filters.priceT != 99999999 %}  value="{{ filters.priceT }}" {% endif %} {% else %} name="" {% endif %}
                       type="text" class="textType">
            </div>
            <div style="clear: both"></div>
        </div>
    </div>
    <div style="clear: both; display: none"></div>
    <div class="w-25 mb-2 float-left p-1">
        <label class="text-color-4">Rok produkcji</label>
        <div class="year-vans-trucks-block">
            <div id="vans_year_from" class="float-left w-48">
                <input id="vans_year_from1"
                       placeholder="od" {% if filters.yearF is defined %} name="year_from" {% if filters.yearF > 0 %} value="{{ filters.yearF }}" {% endif %} {% else %} name="" {% endif %}
                       type="text" class="textType">
            </div>
            <div id="vans_year_to" class="float-left w-48 ml-1">
                <input id="vans_year_to1"
                       placeholder="do" {% if filters.yearT is defined %} name="year_to" {% if filters.yearT != 9999 %} value="{{ filters.yearT }}" {% endif %} {% else %} name="" {% endif %}
                       type="text" class="textType">
            </div>
            <div style="clear: both"></div>
        </div>
    </div>
    <div style="clear: both; display: block"></div>
    <div class="w-25 mb-2 float-left p-1" style="display: block">
        <label class="text-color-4">Poj. silnika</label>
        <div class="capacity-vans-trucks-block">
            <div id="vans_cap_from" class="float-left w-48">
                <input id="vans_cap_from1"
                       placeholder="od" {% if filters.capF is defined %} name="capacity_from" {% if filters.capF > 0 %} value="{{ filters.capF }}" {% endif %} {% else %} name="" {% endif %}
                       type="text" class="textType">
            </div>
            <div id="vans_cap_to" class="float-left w-48 ml-1">
                <input id="vans_cap_to1"
                       placeholder="do" {% if filters.capT is defined %} name="capacity_to" {% if filters.capT != 999999 %} value="{{ filters.capT }}" {% endif %} {% else %} name="" {% endif %}
                       type="text" class="textType">
            </div>
            <div style="clear: both"></div>
        </div>
    </div>
    <div class="w-25 mb-2 float-left p-1" style="display: block">
        <label class="text-color-4">Przebieg</label>
        <div class="mileage-vans-trucks-block ">
            <div id="vans_mil_from" class="float-left w-48">
                <input id="vans_mil_from1"
                       placeholder="od" {% if filters.milF is defined %} name="mileage_from" {% if filters.milF > 0 %} value="{{ filters.milF }}" {% endif %} {% else %} name="" {% endif %}
                       type="text" class="textType">
            </div>
            <div id="vans_mil_to" class="float-left w-48 ml-1">
                <input id="vans_mil_to1"
                       placeholder="do" {% if filters.milT is defined %} name="mileage_to" {% if filters.milT != 99999999 %} value="{{ filters.milT }}" {% endif %} {% else %} name="" {% endif %}
                       type="text" class="textType">
            </div>
            <div style="clear: both"></div>
        </div>
    </div>
    <div style="clear: both; display: none"></div>
    <div class="w-25 mb-2 float-left p-1" style="display: block">
        <label class="text-color-4">Moc silnika</label>
        <div class="power-vans-trucks-block">
            <div id="vans_pow_from" class="float-left w-48">
                <input id="vans_pow_from1"
                       placeholder="od" {% if filters.powF is defined %} name="power_from" {% if filters.powF > 0 %} value="{{ filters.powF }}" {% endif %} {% else %} name="" {% endif %}
                       type="text" class="textType">
            </div>
            <div id="vans_pow_to" class="float-left w-48 ml-1">
                <input id="vans_pow_to1"
                       placeholder="do" {% if filters.powT is defined %} name="power_to" {% if filters.powT != 99999 %} value="{{ filters.powT }}" {% endif %} {% else %} name="" {% endif %}
                       type="text" class="textType">
            </div>
            <div style="clear: both"></div>
        </div>
    </div>
    <div style="clear: both; display: none"></div>
    <div class="w-25 mb-2 float-left p-1" style="display: block">
        <label class="text-color-4">Paliwo</label>
        <div class="fuel-block ">
            <select id="fuel-vans-trucks-block" {% if filters.fuel is defined %} name="fuel" {% else %} name="" {% endif %}
                    class="categorySelect">
                <option value="0" selected>Wszystkie</option>
                {% for item in datas.fuel %}
                    <option {% if filters.fuel == item.id %} selected {% endif %}
                            value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="w-25 mb-2 float-left p-1" style="display: none">
        <label class="text-color-4">Ładowność</label>
        <div class="size-vans-trucks-block ">
            <div id="vans_size_from" class="float-left w-48">
                <input id="vans_size_from1"
                       placeholder="od" {% if filters.sizeF is defined %} name="size_from" {% if filters.sizeF > 0 %} value="{{ filters.sizeF }}" {% endif %} {% else %} name="" {% endif %}
                       type="text" class="textType">
            </div>
            <div id="vans_size_to" class="float-left w-48 ml-1">
                <input id="vans_size_to1"
                       placeholder="do" {% if filters.sizeT is defined %} name="size_to" {% if filters.sizeT != 9999999 %} value="{{ filters.sizeT }}" {% endif %} {% else %} name="" {% endif %}
                       type="text" class="textType">
            </div>
            <div style="clear: both"></div>
        </div>
    </div>
    <div class="w-25 mb-2 float-left p-1" style="display: none">
        <label class="text-color-4">Liczba osi</label>
        <div class="axis-vans-trucks-block ">
            <div id="vans_axis_from" class="float-left w-48">
                <input id="vans_axis_from1"
                       placeholder="od" {% if filters.axisF is defined %} name="axis_from" {% if filters.axisF > 0 %} value="{{ filters.axisF }}" {% endif %} {% else %} name="" {% endif %}
                       type="text" class="textType">
            </div>
            <div id="vans_axis_to" class="float-left w-48 ml-1">
                <input id="vans_axis_to1"
                       placeholder="do" {% if filters.axisT is defined %} name="axis_to" {% if filters.axisT != 999 %} value="{{ filters.axisT }}" {% endif %} {% else %} name="" {% endif %}
                       type="text" class="textType">
            </div>
            <div style="clear: both"></div>
        </div>
    </div>
    <div style="clear: both; display: block"></div>
    <div class="w-25 mb-2 float-left p-1" style="display: block">
        <label class="text-color-4">Skrzynia biegów</label>
        <div class="gearbox-vans-trucks-block ">
            <select id="gearbox-vans-block" {% if filters.gearbox is defined %} name="gearbox" {% else %} name="" {% endif %}
                    class="categorySelect">
                <option value="0" selected>Wszystkie</option>
                {% for item in datas.gearbox %}
                    <option {% if filters.gearbox == item.id %} selected {% endif %}
                            value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div style="clear: both; display: none"></div>
    <div class="w-25 mb-2 float-left p-1" style="display: block">
        <label class="text-color-4">Kraj pochodzenia</label>
        <div class="country-block ">
            <select id="country-vans-trucks-block" {% if filters.country is defined %} name="country" {% else %} name="" {% endif %}
                    class="categorySelect">
                <option value="0" selected>Wszystkie</option>
                {% for item in datas.country %}
                    <option {% if filters.country == item.id %} selected {% endif %}
                            value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div style="clear: both; display: none"></div>
    <div class="w-25 mb-2 float-left p-1">
        <label class="text-color-4">Stan techniczny</label>
        <div class="condition-block ">
            <select id="condition-vans-trucks-block" {% if filters.condition is defined %} name="condition" {% else %} name="" {% endif %}
                    class="categorySelect">
                <option value="0" selected>Wszystkie</option>
                {% for item in datas.condition %}
                    <option {% if filters.condition == item.id %} selected {% endif %}
                            value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div style="clear: both; display: block"></div>
</div>
