<div id="template1">
    <div class="markCars border border-primary p-4 mt-3 brad" style="display: none">
        <div class="mb-3 ">
            <h6 class="font-weight-light mb-2">Wybierz markę<span style="color: red">*</span></h6>
            <select id="mark_of_cars_form_name" class="categorySelect1">
                <option value="0" selected>-</option>
                {% for it in item.markOfCars %}
                    <option value="{{ it.id }}">{{ it.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div id=" " class=" border border-primary p-4 mt-3 brad" style="display: none">
        <div class="price_of_cars_form_name mb-3 w-33">
            <h6 class="font-weight-light mb-2">Cena<span style="color: red">*</span></h6>
            <input type="text" placeholder="000 000" class="float-left price">
            <span class="float-left ml-2 pt-2">zł</span>
            <div style="clear: both"></div>
        </div>
    </div>
    <div class="border border-primary p-4 mt-3 brad" style="display: none">
        <div class="mb-3 ">
            <h6 class="font-weight-light mb-2">Wybierz model<span style="color: red">*</span></h6>
            <select id="model_of_cars_form_name" class="categorySelect2">
                <option value="0">-</option>
                {% for it in models %}
                    <option value="{{ it.mark.id }}">{{ it.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3" id="year_of_cars_form_name">
            <h6 class="font-weight-light mb-2">Rok produkcji<span style="color: red">*</span></h6>
            <input type="text" class="textType1">
        </div>
        <div class="mb-3 " id="capacity_of_cars_form_name">
            <h6 class="font-weight-light mb-2">Poj. silnika</h6>
            <input type="text" placeholder="000 000" class="float-left textType1">
            <div class="float-left ml-2 height1">
                <div class="mt-2 float-left">Cm</div>
                <span class="font-11 mt-2 float-left">3</span>
                <div style="clear: both"></div>
            </div>
            <div style="clear: both"></div>
        </div>
        <div class="mb-3 ">
            <h6 class="font-weight-light mb-2">Wybierz paliwo<span style="color: red">*</span></h6>
            <select id="fuel_of_cars_form_name" class="categorySelect1">
                <option value="0">-</option>
                {% for it in fuel %}
                    <option value="{{ it.id }}">{{ it.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3 " id="power_of_cars_form_name">
            <h6 class="font-weight-light mb-2">Moc</h6>
            <input type="text" placeholder="000 000" class="float-left textType1">
            <span class="float-left ml-2 pt-1 mt-1 ">KM</span>
            <div style="clear: both"></div>
        </div>
        <div class="mb-3 " id="mileage_of_cars_form_name">
            <h6 class="font-weight-light mb-2">Przebieg<span style="color: red">*</span></h6>
            <input type="text" placeholder="000 000" class="float-left textType1">
            <span class="float-left ml-2 pt-1 mt-1">km</span>
            <div style="clear: both"></div>
        </div>
        <div class="mb-3 ">
            <h6 class="font-weight-light mb-2">Kolor<span style="color: red">*</span></h6>
            <select id="color_of_cars_form_name" class="categorySelect1">
                <option value="0">-</option>
                {% for item in color %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3 ">
            <h6 class="font-weight-light mb-2">Typ nadwozia<span style="color: red">*</span></h6>
            <select id="overbody_of_cars_form_name" class="categorySelect1">
                <option value="0">-</option>
                {% for item in body %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3 ">
            <h6 class="font-weight-light mb-2">Stan techniczny<span style="color: red">*</span></h6>
            <select id="technical_condition_of_cars_form_name" class="categorySelect2">
                <option value="0">-</option>
                {% for item in condition %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3 ">
            <h6 class="font-weight-light mb-2">Skrzynia biegów<span style="color: red">*</span></h6>
            <select id="gearbox_of_cars_form_name" class="categorySelect2">
                <option value="0">-</option>
                {% for item in gearbox %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3 ">
            <h6 class="font-weight-light mb-2">Kraj pochodzenia</h6>
            <select id="country_of_cars_form_name" class="categorySelect1">
                <option value="0">-</option>
                {% for item in country %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3 ">
            <h6 class="font-weight-light mb-2">Kierownica</h6>
            <select id="handlebar_of_cars_form_name" class="categorySelect1">
                <option value="0">-</option>
                {% for item in handlebar %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

