<div id="template2">
    <div class="border border-primary p-4 mt-3 brad" style="display: none">
        <div class="mb-3 ">
            <h6 class="font-weight-light mb-2">Wybierz podkategorię<span style="color: red">*</span></h6>
            <select id="motors_form_name" class="categorySelect1">
                <option value="0" selected>-</option>
                {% for item in cat %}
                    {% if item.id == 2 %}
                        {% for it in item.childrenCategories %}
                            <option value="{{ it.id }}">{{ it.name }}</option>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="border border-primary p-4 mt-3 brad" style="display: none">
        <div class="motors_price_form_name mb-3 w-33">
            <h6 class="font-weight-light mb-2">Cena<span style="color: red">*</span></h6>
            <input type="text" placeholder="000 000" class="float-left price">
            <span class="float-left ml-2 pt-1 mt-1">zł</span>
            <div style="clear: both"></div>
        </div>
    </div>
    <div class="border border-primary p-4 mt-3 brad" style="display: none">
        <div class="mb-3 ">
            <h6 class="font-weight-light mb-2">Wybierz markę<span style="color: red">*</span></h6>
            <select id="mark_of_motors_form_name" class="categorySelect1">
                <option value="0" selected>-</option>
                {% for it in item.markOfMotors %}
                    <option value="{{ it.id }}">{{ it.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3" id="motors_year_form_name">
            <h6 class="font-weight-light mb-2">Rok produkcji<span style="color: red">*</span></h6>
            <input type="text" class="textType1">
        </div>
        <div class="mb-3 " id="power_of_motors_form_name">
            <h6 class="font-weight-light mb-2">Poj. silnika</h6>
            <input type="text" placeholder="000 000" class="float-left textType1">
            <div class="float-left ml-2 height1">
                <div class="mt-2 float-left">Cm</div>
                <span class="font-11 mt-2 float-left">3</span>
                <div style="clear: both"></div>
            </div>
            <div style="clear: both"></div>
        </div>
        <div class="mb-3 ">
            <h6 class="font-weight-light mb-2">Stan techniczny<span style="color: red">*</span></h6>
            <select id="technical_condition_of_motors_form_name" class="categorySelect2">
                <option value="0">-</option>
                {% for item in condition %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3 ">
            <h6 class="font-weight-light mb-2">Kraj pochodzenia</h6>
            <select id="country_of_motor_form_name" class="categorySelect1">
                <option value="null">-</option>
                {% for item in country %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>