<div id="button{{ id }}_{{ id }}">
    <div class="border border-primary p-4 brad mt-3 text-right" style="display: none">
        <div class="float-left w-75 text-left mt-2">
            <span class="">Przed dodaniem sprawdź, czy wszystkie pola są wypełnione.</span>
        </div>
        <div class="float-left w-25">
            <div id="submit_{{ id }}_{{ id }}" type="submit" class="add_offer text-white font-18 btn bg-primary ">Dodaj
                ofertę
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
</div>
<div id="button{{ id }}_{{ id }}_{{ id }}">
    <div class="border border-primary p-4 brad mt-3 text-right" style="display: none">
        <div class="float-left w-75 text-left mt-2">
            <span class="">Przed dodaniem sprawdź, czy wszystkie pola są wypełnione.</span>
        </div>
        <div class="float-left w-25">
            <div id="submit_{{ id }}_{{ id }}_{{ id }}" type="submit"
                 class="add_offer text-white font-18 btn bg-primary ">Dodaj ofertę
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
</div>
