<div id="template3">
    <div class="vans border border-primary p-4 mt-3 brad" style="display: none">
        <div class="mb-3 ">
            <h6 class="font-weight-light mb-2">Wybierz podkategorię<span style="color: red">*</span></h6>
            <select id="vans_or_trucks_form_name" class="categorySelect1">
                <option value="0" selected>-</option>
                {% for item in cat %}
                    {% if item.id == 3 %}
                        {% for it in item.childrenCategories %}
                            <option value="{{ it.id }}">{{ it.name }}</option>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="border border-primary p-4 mt-3 brad" style="display: none">
        <div class="price_of_vans_form_name mb-3 w-33 ">
            <h6 class="font-weight-light mb-2">Cena<span style="color: red">*</span></h6>
            <input class=" float-left price " placeholder="000 000" type="text">
            <span class="float-left ml-2 pt-1 mt-1 price-ite">zł</span>
            <div style="clear: both"></div>
        </div>
    </div>
    <div class="template3 border border-primary p-4 mt-3 brad" style="display: none">
        <div class="mb-3 ">
            <h6 class="font-weight-light mb-2">Wybierz marke<span style="color: red">*</span></h6>
            <select id="mark_vans_trucks_form_name" class="categorySelect1">
                <option value="0">-</option>
                {% for it in item.markOfVansAndTrucks %}
                    <option value="{{ it.id }}">{{ it.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="year_vans_form_name" class="mb-3 ">
            <h6 class="font-weight-light mb-2">Rok produkcji<span style="color: red">*</span></h6>
            <input type="text" class="textType1">
        </div>
        <div class="mb-3 " id="capacity_of_vans_form_name">
            <h6 class="font-weight-light mb-2">Poj. silnika</h6>
            <input type="text" placeholder="000 000" class="float-left textType1">
            <div class="float-left ml-2 height1">
                <div class="mt-2 float-left">Cm</div>
                <span class="font-11 mt-2 float-left">3</span>
                <div style="clear: both"></div>
            </div>
            <div style="clear: both"></div>
        </div>
        <div class="mb-3 ">
            <h6 class="font-weight-light mb-2">Wybierz paliwo<span style="color: red">*</span></h6>
            <select id="fuel_vans_form_name" class="categorySelect1">
                <option value="0">-</option>
                {% for it in fuel %}
                    <option value="{{ it.id }}">{{ it.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="power_of_vans_form_name" class="mb-3 ">
            <h6 class="font-weight-light mb-2">Moc silnika</h6>
            <input type="text" placeholder="000 000" class="float-left textType1">
            <span class="float-left ml-2 pt-1 mt-1 ">KM</span>
            <div style="clear: both"></div>
        </div>
        <div id="mileage_of_vans_form_name" class="mb-3 ">
            <h6 class="font-weight-light mb-2">Przebieg<span style="color: red">*</span></h6>
            <input type="text" placeholder="000 000" class="float-left textType1">
            <span class="float-left ml-2 pt-1 mt-1 ">km</span>
            <div style="clear: both"></div>
        </div>
        <div id="size_vans_form_name" class="mb-3 ">
            <h6 class="font-weight-light mb-2">Ładowność</h6>
            <input type="text" placeholder="000 000" class="float-left textType1">
            <span class="float-left ml-2 pt-1 mt-1">kg</span>
            <div style="clear: both"></div>
        </div>
        <div id="number_axis_form_name" class="mb-3 ">
            <h6 class="font-weight-light mb-2">Liczba osi<span style="color: red">*</span></h6>
            <input type="text" placeholder="00" class="textType1">
        </div>
        <div class="mb-3 ">
            <h6 class="font-weight-light mb-2">Stan techniczny<span style="color: red">*</span></h6>
            <select id="condition_of_vans_form_name" class="categorySelect1">
                <option value="0">-</option>
                {% for item in condition %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3 ">
            <h6 class="font-weight-light mb-2">Skrzynia biegów<span style="color: red">*</span></h6>
            <select id="gearbox_vans_form_name" class="categorySelect1">
                <option value="0">-</option>
                {% for item in gearbox %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3 ">
            <h6 class="font-weight-light mb-2">Kraj pochodzenia</h6>
            <select id="country_of_vans_form_name" class="categorySelect1">
                <option value="0">-</option>
                {% for item in country %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<div id="template3_3">
    <div class="border border-primary p-4 mt-3 brad" style="display: none">
        <div class="price_of_semitrailer_form_name3 mb-3 w-33 ">
            <h6 class="font-weight-light mb-2">Cena<span style="color: red">*</span></h6>
            <input class=" float-left price " placeholder="000 000" type="text">
            <span class="float-left ml-2 pt-1 mt-1 price-ite">zł</span>
            <div style="clear: both"></div>
        </div>
    </div>
    <div class="template3 border border-primary p-4 mt-3 brad" style="display: none">
        <div id="year_semitrailer_form_name3" class="mb-3 ">
            <h6 class="font-weight-light mb-2">Rok produkcji<span style="color: red">*</span></h6>
            <input type="text" class="textType1">
        </div>
        <div id="mileage_of_semitrailer_form_name3" class="mb-3 ">
            <h6 class="font-weight-light mb-2">Przebieg<span style="color: red">*</span></h6>
            <input type="text" placeholder="000 000" class="float-left textType1">
            <span class="float-left ml-2 pt-1 mt-1 ">km</span>
            <div style="clear: both"></div>
        </div>
        <div class="mb-3 ">
            <h6 class="font-weight-light mb-2">Stan techniczny<span style="color: red">*</span></h6>
            <select id="condition_of_semitrailer_form_name3" class="categorySelect1">
                <option value="0">-</option>
                {% for item in condition %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<div id="template3_3_3">
    <div class="border border-primary p-4 mt-3 brad" style="display: none">
        <div class="price_of_semitrailer_form_name33 mb-3 w-33 ">
            <h6 class="font-weight-light mb-2">Cena<span style="color: red">*</span></h6>
            <input class=" float-left price " placeholder="000 000" type="text">
            <span class="float-left ml-2 pt-1 mt-1 price-ite">zł</span>
            <div style="clear: both"></div>
        </div>
    </div>
    <div class="template3 border border-primary p-4 mt-3 brad" style="display: none">
        <div id="year_semitrailer_form_name33" class="mb-3 ">
            <h6 class="font-weight-light mb-2">Rok produkcji<span style="color: red">*</span></h6>
            <input type="text" class="textType1">
        </div>
        <div class="mb-3 ">
            <h6 class="font-weight-light mb-2">Stan techniczny<span style="color: red">*</span></h6>
            <select id="condition_of_semitrailer_form_name33" class="categorySelect1">
                <option value="0">-</option>
                {% for item in condition %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>