<form id="set-tires-rims-form" action="" method="get">
    <div class="w-25 float-left p-1">
        <label class="text-color-4">Podkategoria</label>
        <div class="divCategorySelect">
            <select id="category-tires-rims-block" class="w-100 categorySelect">
                <option class="categoryOption" value="0" selected>Wszystkie</option>
                {% for item in cat.childrenCategories %}
                    <option class="categoryOption" value="{{ item.id }}"
                            {% if slug is defined %}
                                {% if slug == item.slug %} selected {% endif %}
                            {% endif %}
                    >{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="w-25 mb-2 float-left p-1">
        <label class="text-color-4">Cena (zł)</label>
        <div class="price-tires-rims-block1 ">
            <div class="float-left w-48">
                <input placeholder="od" type="search" class="textType">
            </div>
            <div class="float-left w-48 ml-1">
                <input placeholder="do" type="text" class="textType">
            </div>
            <div style="clear: both"></div>
        </div>
    </div>
    <div class="w-25 mb-2 float-left p-1">
        <label class="text-color-4">Stan</label>
        <div class="state-tires-rims-block ">
            <select id="state-tires-rims-block" class="categorySelect">
                <option value="0" selected>Wszystkie</option>
                {% for item in state %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div style="clear: both"></div>
    <div class="w-25 mb-2 float-left p-1">
        <label class="text-color-4">Pojazd</label>
        <div class="vehicle-tires-rims-block ">
            <select id="vehicle-tires-rims-block" class="categorySelect">
                <option value="0" selected>Wszystkie</option>
                {% for item in vehicleTires %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div style="clear: both; display: block"></div>
    <div class="w-25 mb-2 float-left p-1" style="display: none">
        <label class="text-color-4">Typ</label>
        <div class="type-tires-rims-block ">
            <select id="type-tires-rims-block" class="categorySelect">
                <option value="0" selected>Wszystkie</option>
                {% for item in typeTires %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="w-25 mb-2 float-left p-1" style="display: none">
        <label class="text-color-4">Cale</label>
        <div class="inch-tires-rims-block ">
            <select id="inch-tires-rims-block" class="categorySelect">
                <option value="0" selected>Wszystkie</option>
                {% for item in inch %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="w-25 mb-2 float-left p-1" style="display: none">
        <label class="text-color-4">Szerokość</label>
        <div class="width-tires-rims-block ">
            <select id="width-tires-rims-block" class="categorySelect">
                <option value="0" selected>Wszystkie</option>
                {% for item in widthTires %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div style="clear: both; display: none"></div>
    <div class="w-25 mb-2 float-left p-1" style="display: none">
        <label class="text-color-4">Profil</label>
        <div class="profil-tires-rims-block ">
            <select id="profil-tires-rims-block" class="categorySelect">
                <option value="0" selected>Wszystkie</option>
                {% for item in profilTires %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div style="clear: both; display: none"></div>
    <div class="w-25 mb-2 float-left p-1" style="display: none">
        <label class="text-color-4">Felgi</label>
        <div class="rims-tires-rims-block ">
            <select id="rims-tires-rims-block" class="categorySelect">
                <option value="0" selected>Wszystkie</option>
                {% for item in typeRims %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div style="clear: both; display: none"></div>
    <div class="form1" style="display: none">

    </div>
    <div class="form3" style="display: none">

    </div>
    <div class="form4" style="display: none">

    </div>
    <div class="form5" style="display: none">

    </div>
    <div class="mt-3 w-100 text-right pr-2">
        <button type="submit" class="btn btn-outline-primary p-1 pl-3 pr-3 ">Filtruj</button>
    </div>
</form>
