<div class="w-75 mr-auto ml-auto p-3 mb-2">
    <h1 class="text-center  mb-4">Zadaj pytanie</h1>
    {#            {% form_theme postForm 'bootstrap_4_layout.html.twig' %}#}
    {{ form_start(postForm) }}
    <div class="mb-2 "><h6>Tytuł</h6> {{ form_row(postForm.title) }} </div>
    <div class="mb-2"><h6>Treść</h6> {{ form_row(postForm.content) }} </div>
    <div class="mb-2 w-50"><h6>Zdjęcia</h6> {{ form_row(postForm.filename) }} </div>

    <button type="submit" class="btn btn-lg mt-3 btn-outline-primary mb-3">Dodaj</button>
    {{ form_end(postForm) }}
</div>