<div class="w-85 mr-auto ml-auto p-3 mb-2">
    {{ form_start(postForm) }}
    <div class="border border-primary p-4 brad">
        <div class="mb-3 "><h6 class="font-weight-light mb-0">{{ form_label(postForm.category) }}</h6> {{ form_widget(postForm.category) }} </div>
        <div class="mb-3 "><h6 class="font-weight-light">Tytuł</h6> {{ form_row(postForm.title) }} </div>
        <div class="mb-3"><h6 class="font-weight-light">Treść</h6> {{ form_row(postForm.content) }} </div>
        <div class="mb-2" id="file_post">
            <ul class="file_post pl-0" data-prototype="{{ form_widget(postForm.photoFilesForPosts.vars.prototype)|e('html_attr') }}">
            </ul>
        </div>
    </div>
    <div class="border border-primary p-4 brad mt-3 text-right">
        <div class="float-left w-75 text-left mt-2">
            <span class="">Przed dodaniem sprawdź, czy wszystko się zgadza.</span>
        </div>
        <div class="float-left w-25">
            <button type="submit" class="font-18 btn btn-lg btn-outline-primary ">Dodaj post</button>
        </div>
        <div style="clear: both"></div>
    </div>
    {{ form_end(postForm) }}
</div>
