<div class="card-body mr-2 bgcolor3 brad p-2 pl-3">
    <i class="icon-home"></i> Jesteś na / Rejestracja
</div>
<div class="mr-2 bg-dark mt-1 brad ">
    <div class="p-2 pl-3 border-bottom border-primary">
        <h4 class="text-color-3"><i class="icon-edit-1 mr-1"></i>Zarejestruj się</h4>
    </div>
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
{#    <div class="p-3 pl-5 mr-5 text-center">#}
{#        <p>Musisz wprowadzić poprawny adres e-mail, ponieważ na podany adres otrzymasz wiadomość#}
{#            zawierającą link aktywujący konto.</p>#}
{#    </div>#}
    {{ form_start(registrationForm) }}
    <div class="w-90 ml-auto mr-auto p-4">
        <div class="border border-primary brad  p-4">
            {% for message in app.flashes('error_register') %}
                <div class="bg-danger p-1 brad text-center mb-3"> {{ message }}</div>
            {% endfor %}
            <div class="mb-4">
                <h6 class="font-weight-light ">Nazwa użytkownika</h6>{{ form_row(registrationForm.username) }}
            </div>
            <div class="mb-4" >
                <h6 class="font-weight-light ">Adres e-mail</h6> {{ form_row(registrationForm.email) }}
            </div>
            <div class="mb-4">
                <h6 class="font-weight-light ">Hasło</h6>{{ form_row(registrationForm.plainPassword) }}
            </div>
            <div class="mb-4">
                <h6 class="font-weight-light ">Powtórz hasło</h6>{{ form_row(registrationForm.second_password) }}
            </div>
            <div class="mb-3 ">
                <h6 class="font-weight-light ">zdjęcie *</h6>{{ form_widget(registrationForm.filename) }}
            </div>
            <p class="font-15 mt-4">* Jeśli nie wybierzesz pliku, algorytm automatycznie
                przypisze Tobie domyślne zdjęcie profilowe</p>
            {#                {{ form_row(registrationForm.agreeTerms) }}#}
        </div>
        <div class="border border-primary p-4 brad mt-3 text-right">
            <div class="float-left w-75 text-left mt-2">
                <span class="">Przed kliknięciem sprawdź, czy wszystko się zgadza.</span>
            </div>
            <div class="float-left w-25">
                <button type="submit" class="font-18 btn btn-lg btn-outline-primary ">Załóż konto</button>
            </div>
            <div style="clear: both"></div>
        </div>
    </div>

    {{ form_end(registrationForm) }}
</div>