{% if comments.count > 0 %}
    <div class="mt-3">
        <h5 class="bgcolor text-secondary p-2 pl-3 mb-0">Komentarze</h5>
        {% for item in comments %}
            <div class="bgcolor p-3 mt-1">
                <div class="border-bottom border-color-1 font-13 text-secondary">
                    {% if app.user %}
                        {% if app.user.username == item.user.username %}
                            <span class="text-white font-weight-normal">Dodałeś</span>
                            komentarz w dniu <span class="text-white font-weight-normal">{{ item.uploadedAt|date('d.m.Y') }}</span>
                        {% else %}
                            <span class="text-white font-weight-normal">Komentarz</span> dodany przez
                            <a href="{{ path('other_profile',{'userId':item.user.id ,'username':item.user.username, 'userTab':'profile'})}}" class="font-weight-normal text-white">
                                {{ item.user.username }}
                            </a>
                            w dniu <span class="text-white font-weight-normal">{{ item.uploadedAt|date('d.m.Y') }}</span>
                        {% endif %}
                    {% else %}
                        <span class="text-white font-weight-normal">Komentarz</span> dodany przez
                        <a href="{{ path('other_profile',{'userId':item.user.id ,'username':item.user.username, 'userTab':'profile'})}}" class="font-weight-normal text-white">
                            {{ item.user.username }}
                        </a>
                        w dniu <span class="text-white font-weight-normal">{{ item.uploadedAt|date('d.m.Y') }}</span>
                    {% endif %}
                </div>
                <div class="pt-2 pb-2 border-bottom border-color-1">
                    {{ item.contentCom }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}