{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - {{ post.title }}{% endblock %}
{% block body %}
    <div class="container">
        <div id="main" class="text-white mt-3 w-75 float-left mb-4 " >
            <div class="card-body mr-2 bgcolor3 brad p-2 pl-3">
                <i class="icon-home"></i> Jesteś na /<a class="text-white" href="{{ path('index') }}"> Forum </a>
                / <span class="text-white"> {{ post.title }} </span>
            </div>
            {% for message1 in app.flashes('success-answer') %}
                <div class="mr-2 bg-success brad text-center p-1">
                    {{ message1 }}
                </div>
            {% endfor %}
            {% for message2 in app.flashes('success-comment') %}
                <div class="mr-2 bg-success brad text-center p-1">
                    {{ message2 }}
                </div>
            {% endfor %}
            <div class="mr-2 bg-dark mt-1 brad ">
                <div class="p-2 pl-3 border-bottom border-primary">
                    <h4>{{ post.title }}</h4>
                </div>
                <div class="p-3 pb-4 mt-2 pb-1">
                    <div class="float-left font-25 mr-2 ">
                        <div  id="like_up" data-postid = "{{ post.id }}"  data-id="1" class="pb-1 brad text-center bgcolor3">
                            <i id="like" class=" text-color-1 icon-thumbs-up-alt"></i><br>
                            {% if post.likeUp > 0 %}+{% endif %}{{ post.likeUp }}
                        </div>
                        <span class="mt-0 font-13">Polub post</span>
                    </div>

                    <div class="float-left pl-3 w-80">
                        <div class="border-bottom border-color font-weight-bold font-color font-15 font-weight-light">
                            {% if app.user %}
                                {% if app.user.username == post.user.username %}
                                <span class="text-white font-weight-normal">Zadałeś</span>
                                pytanie w dniu <span class="text-white font-weight-normal">{{ post.uploadedAt|date('d.m.Y') }}</span>
                                {% else %}
                                    <span class="text-white font-weight-normal">pytanie</span> zadane przez
                                    <a href="{{ path('other_profile',{'userId': post.user.id ,'username':post.user.username, 'userTab':'profile'}) }}" class="font-weight-normal text-white">
                                        {{ post.user.username }}
                                    </a>
                                    w dniu <span class="text-white font-weight-normal">{{ post.uploadedAt|date('d.m.Y') }}</span>
                                {% endif %}
                            {% else %}
                           <span class="text-white font-weight-normal">pytanie</span> zadane przez
                            <a href="{{ path('other_profile',{'userId': post.user.id ,'username':post.user.username, 'userTab':'profile'}) }}" class="font-weight-normal text-white">
                                {{ post.user.username }}
                            </a>
                            w dniu <span class="text-white font-weight-normal">{{ post.uploadedAt|date('d.m.Y') }}</span>
                            {% endif%}
                        </div>
                        <div class="mt-3 pb-4 border-bottom border-primary">
                            {{ post.content }}
                            {% if post.filename %}
                            <img class="ml-4 mt-4 max-width" src="/images/post/{{ post.filename }} " alt="Zdjęcie">
                            {% endif %}
                        </div>
                        <div class="mt-2 ">
                            {% if app.user %}
                                <button id="bt" class="btn font-13 font-weight-bold text-white bg-secondary"
                                        data-toggle="modal" data-target="#confirm-delete-2">
                                    <i class="font-18 icon-comment-empty"></i>Odpowiedz
                                </button>
                            {% else %}
                                {{ include('components/ajax_add_answer_post_com.html.twig') }}
                                <button class="btn font-13 font-weight-bold text-white bg-secondary"
                                  data-toggle="modal" data-target="#confirm-delete-2">
                                    <i class="mr-1 font-18 icon-comment-empty"></i>Odpowiedz
                                </button>
                            {% endif %}
                        </div>
                        {% if app.user %}
                            {{ include('post/answer/answer_post.html.twig', {postId: post.id, answerForm: answerForm}) }}
                        {% endif %}
                    </div>
                    <div style="clear: both"></div>
                </div>
            </div>
            <div class="mt-1 pl-3 p-2 mb-1 bg-dark brad mr-2">
                <h4 class="pl-2">Odpowiedzi {{ numbers.answer }}</h4>
            </div>
            {{ include('components/view_answers_post_com.html.twig',{post:post}) }}
        </div>
        <div class="color mb-4 mt-3 w-25 float-left">
            {{ include('side_menu/side_menu.html.twig') }}
        </div>
    </div>
    <div style="clear: both"></div>
{% endblock %}